<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Observatorium</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/nicescroll.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/drilldown.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/fab.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/headroom/headroom.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/headroom/headroom_jquery.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>

	<script type="text/javascript" src="assets/js/core/app.js"></script>
	<script type="text/javascript" src="assets/js/pages/layout_navbar_secondary_hideable.js"></script>

	<!-- /theme JS files -->

  <style>
    .navbar-inverse {
      background-color: #010115
    }
  </style>

</head>

  <body class="navbar-bottom sidebar-opposite-visible"></body>
    <!-- Page header content -->
    <div class="page-header-content">
			<div class="page-title">
					<a href="index.html"><img src="assets/images/logo_light.png" alt=""></a>
			</div>

		</div>
		<!-- /page header content -->

		<!-- Second navbar -->
		<div class="navbar navbar-inverse" id="navbar-second">
			<ul class="nav navbar-nav visible-xs-block">
				<li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>

			<div class="navbar-collapse collapse" id="navbar-second-toggle">
				<ul class="nav navbar-nav navbar-nav-material">
					<li><a href="index.html">Inicio</a></li>

					<li class="dropdown mega-menu mega-menu-wide">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Assuntos</span></a>
					</li>

					<li class="mega-menu mega-menu-wide">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Melhores da semana</a>						
					</li>
					<li class="mega-menu mega-menu-wide">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tendencias</a>
					</li>

					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Ranking</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /second navbar -->

	</div>
	<!-- /page header -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">


        <form action="#" class="main-search">
          <div class="input-group content-group">
            <div class="has-feedback has-feedback-left">
              <input type="text" class="form-control input-xlg">
              <div class="form-control-feedback">
                <i class="icon-search4 text-muted text-size-base"></i>
              </div>
            </div>

            <div class="input-group-btn">
              <button type="submit" style="background-color: #010115; border-color: black; color: white" class="btn btn-xlg">Buscar</button>
            </div>
          </div>
        </form>

{% block content %}
{% endblock %}

				<!-- Pagination -->
				<div class="text-center content-group-lg pt-20">
					<ul class="pagination">
						<li class="disabled"><a href="#"><i class="icon-arrow-small-left"></i></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#"><i class="icon-arrow-small-right"></i></a></li>
					</ul>
				</div>
				<!-- /pagination -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

	<!-- Footer -->
	<div class="navbar navbar-default navbar-fixed-bottom footer">
		<ul class="nav navbar-nav visible-xs-block">
			<li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i class="icon-circle-up2"></i></a></li>
		</ul>

		<div class="navbar-collapse collapse" id="footer">
			<div class="navbar-text">
				&copy; 2021. <a href="#" class="navbar-link">Observatorium</a>
			</div>

			<div class="navbar-right">
				<ul class="nav navbar-nav">
					<li><a href="#">About</a></li>
					</ul>
			</div>
		</div>
	</div>
	<!-- /footer -->