		<!-- Page header content -->
		<div class="page-header-content">
			<div class="page-title">
					<a href="index.html"><img src="assets/images/logo_light.png" alt=""></a>
			</div>

		</div>
		<!-- /page header content -->

		<!-- Second navbar -->
		<div class="navbar navbar-inverse" id="navbar-second">
			<ul class="nav navbar-nav visible-xs-block">
				<li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>

			<div class="navbar-collapse collapse" id="navbar-second-toggle">
				<ul class="nav navbar-nav navbar-nav-material">
					<li><a href="index.html">Inicio</a></li>

					<li class="dropdown mega-menu mega-menu-wide">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Assuntos</span></a>
					</li>

					<li class="mega-menu mega-menu-wide">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Melhores da semana</a>						
					</li>
					<li class="mega-menu mega-menu-wide">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tendencias</a>
					</li>

					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Ranking</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /second navbar -->

	</div>
	<!-- /page header -->