{% extends 'base.html' %}

{% block content %}
<!-- List -->
				<div class="row">
          {% for new in news %}
            <div class="col-md-3">
              <div class="panel panel-flat blog-horizontal blog-horizontal-2">
                <div class="panel-body">
                  <div class="thumb">
                    <img src="assets/images/placeholder.jpg" class="img-responsive img-rounded" alt="">
                  </div>

                  <div class="blog-preview">
                    <div class="content-group-sm media blog-title stack-media-on-mobile text-left">
                      <div class="media-body">
                        <h5 class="text-semibold no-margin"><a href="#" class="text-default">{{new.title}}</a></h5>

                        <ul class="list-inline list-inline-separate no-margin text-muted">
                          <li>by <a href="#">{{new.author}}</a></li>
                          <li>{{new.date}}</li>
                        </ul>
                      </div>
                    </div>

                    <p>{{new.description}}</p>
                  </div>
                </div>

                <div class="panel-footer panel-footer-condensed">
                  <div class="heading-elements">
                    <ul class="list-inline list-inline-separate heading-text">
                      <li><i class="icon-users position-left"></i>{{new.viewers}}</li>
                      <li><i class="icon-alarm position-left"></i>{{new.readtime}}</li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
					</div>
				<!-- /list -->
{% endblock %}
